@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;   
}

body{
    overflow-x: hidden;
}

.googleLoginBtn{
    position: fixed;
    top: 1vh;
    right: 2vw;
    width: 7vw;
    height: 5%;
    z-index: 1;
}
.googleLogoutBtn{
    position: fixed;
    top: 1vh;
    right: 2vw;
    width: 7vw;
    height: 5%;
    z-index: 1;
}
.topBarContainer{
    position: fixed;
    top: 0.2%;
    width: 104vw;
    left: -2vw;
    height: 7vh;
    background-color: #f4f4f4;
    overflow: hidden;
}

#buttonContainer{
    position: relative;
    left: 6.5vw;
}

.messageContainer{
    display: inline-block;
    position: absolute;
    top: 40vh;
    left: 10%;
    width: 80.5vw;
    height: 60%;
    background-color: #f4f4f4;
    overflow-y: scroll;
    border-radius: 5px;
}
.single-message-container{
    display: inline-block;
    position: relative;
    margin-top: 1%;
    margin-left: 2%;
    padding : 20px;
    height: auto;
    width: 93%;
    border-radius: 5px;
    background-color: #FAFAFA;
}
#message-input-box{
    position: absolute;
    margin-top: 0.2%;
    background-color: #f4f4f4;
    width: 80vw;
    height: 20vh;
    top: 2vh;
    left: -13.25%;
    font-size: 300%;
    border: #ef9836 3px solid;
    border-radius: 5px;
    outline: 0;
}

#message-input-box:focus{
    border-color: #0090da;
}

#MessageInput{
    position: relative;
    left: 20vw;
    top: 10vh;
    width: 80vw;
    height: 10vh;
    font-size: 8px;
}

.topBarButton{
    position: relative;
    left: 52.85vw;
    top: 1vh;
    height: 5vh;
    border-radius: 5px;
    border: #ef9836 3px solid;
    cursor: pointer;
    margin-left: 10px;
    color: #ef9836;
}

.topBarButton:hover{
    border-color: #0090da;
    color: #0090da;
}

#adminButton{
    border-color: #ef9836;
}

#adminButton:hover{
    border-color: #0090da;
    color: #0090da;
}

#userProfileButton{
    border-radius: 50%;
    width: 43px;
    height: 43px;
    top: 0.5vh;
    background-color: black;
    color: white;
}

#userImage{
    position: absolute;
    top: -1.75px;
    right: -1.95px;
    border-radius : 20px;
}

.adminSpecificPage-container{
    position: absolute;
    top: 10vh;
    left: 10%;
    width: 80.5vw;
    height: 90%;
    background-color: #f4f4f4;   
}