.googleLoginBtn{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 5%;
    height: 5%;
}
.googleLogoutBtn{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 5%;
    height: 5%;
}
.topBarContainer{
    position: absolute;
    top: 0.2%;
    left: 10%;
    width: 80%;
    height: 10%;
    background-color: aqua;
    border-radius: 10px;
}
.messageContainer{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    background-color: grey;
}