* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: #fafafa;
}


.googleLoginBtn{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 5%;
    height: 5%;
}
.googleLogoutBtn{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 5%;
    height: 5%;
}
.topBarContainer{
    position: absolute;
    top: 0.2%;
    left: 10%;
    width: 80%;
    height: 10%;
    background-color:#EA882C;
    border-radius: 10px;
}
.messageContainer{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    background-color: #00808C;
    border-radius: 10px;
    overflow-y: scroll;
}
.single-message-container{
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    height: 20%;
    width: 97.5%;
    background-color: ivory;
}
.message-input-box{
    position: absolute;
    margin-top: 0.2%;
    background-color:brown;
    border-radius: 10px;
    width: 80%;
    height: 10%;
    top: 80%;
    left: 10%;
    font-size: 300%;
}